body{
	background-color:#F9F9F9;
	margin-left:400px;
	margin-right:400px;
}
#header{
	position: absolute;
	min-width:1080px;
	width: auto;
	height: 40px;
	border: 1px solid gray;
}
#header h1{
	position: absolute;
	text-align: left;
	margin-left: 50px;
	margin-top: 8px;
}
#buttons button{
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}
#menu{
	background-color: #F9F9F9;
	color: gray;
	font-size: 30px;
}
.nav{
	position: absolute;
	display: inline-block;
}
#navcont{
	background-color: #F9F9F9;
	display:none;
	font-size:16px;
	position: absolute;
	z-index: 1;
	padding: 10px 10px;
	min-width: 60px;
}
.nav:hover #navcont{
	display:block;
}
#neck{
	display:block;
	padding-top:50px;
}
#body img{
	display:inline;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}
	
#footer{
	clear:both;
	margin-left:-400px;
	background-color: #222222;
	height:150px;
	width:300%;
}
#footer img{
	transform: translate(400px);
	display:inline;
	margin-left: auto;
	padding: 10px;
	padding-top:10px;
}
